@(title:String, designatedDate:String)

@css={
  <link href="@routes.Assets.versioned("stylesheets/page/kakeibooPc/calendarDesignatedDate.css")" rel="stylesheet" media="screen">
}

@scripts={
  <script src="@routes.Assets.versioned("javascripts/page/kakeibooPc/calendarDesignatedDate.js")" type="text/javascript"></script>
}

@modal={
}

@kakeibooPc(title, css, scripts, modal) {
  <div id="calendarDesignatedDate-page">
    <div class="wrapper-area">
      <p class="calendarDesignatedDate-title">カレンダー指定日変更</p>
      <div class="designatedDate-check-block">
        <label class="designatedDate-check-label">
          <input type="checkbox" class="designatedDate-check-input" name="designatedDate-check-input" onchange="checkIconChange()" value="">
          <img id="designatedDate-check-on" src="@routes.Assets.versioned("images/kakeibooPc/calendarDesignatedDate_check_on.png")">
          <img id="designatedDate-check-off" src="@routes.Assets.versioned("images/kakeibooPc/calendarDesignatedDate_check_off.png")">
          <span class="designatedDate-check-text">指定日なし</span>
        </label>
      </div>
      <div class="main-area">
        <div class="input-block">
          <span>指定日 : </span>
          @getDesignatedDate(designatedDate)
          <span>日</span>
        </div>
        <div class="message-area">
          <p id="message-text" class="message-text"></p>
        </div>
        <div class="calendarDesignatedDate-btn-area">
          <div class="calendarDesignatedDate-btn-block">
            <button id="back-btn" class="back-btn">戻る</button>
          </div>
          <div class="calendarDesignatedDate-btn-block">
            <button id="change-btn" class="change-btn">変更する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@getDesignatedDate(designatedDate:String) = {
  @if(designatedDate == null || designatedDate == "") {
    <input type="text" class="designatedDate-input" id="designatedDate-input" value="" autocomplete="off">
  } else {
    <input type="text" class="designatedDate-input" id="designatedDate-input" value="@designatedDate" autocomplete="off">
  }
}
