@(title:String, categoryList:List[models.bean.kakeibooPc.CategoryBean])

@css={
  <link href="@routes.Assets.versioned("stylesheets/page/kakeibooPc/calendarRegist.css")" rel="stylesheet" media="screen">
}

@scripts={
  <script src="@routes.Assets.versioned("javascripts/page/kakeibooPc/calendarRegist.js")" type="text/javascript"></script>
}

@modal={
  <!-- カレンダー登録モーダル -->
  <div id="calendarRegist-modal">
    <!-- まとめて登録モーダル -->
    <div id="sum-up-regist-modal" class="sum-up-regist-modal-content">
      <div class="sum-up-regist-modal-block">
        <p class="sum-up-regist-title">- カレンダーへまとめて登録 -</p>
        <input type="file" id="sum-up-regist-file" class="sum-up-regist-file" accept=".csv">
      </div>
      <div class="sum-up-regist-modal-message">
        <span id="sum-up-regist-modal-message-span" class="sum-up-regist-modal-message-span"></span>
      </div>
      <!-- ボタン -->
      <div class="sum-up-regist-modal-btn">
        <button class="modal-close-btn" id="sum-up-regist-modal-close">閉じる</button>
        <button class="modal-btn" id="file-capture">取り込み</button>  
      </div>
      <div class="sum-up-regist-format">
        <a id="format-download" class="format-download">フォーマットダウンロードはこちら</a>
      </div>
    </div>
    <!-- カテゴリーモーダル -->
    <div id="category-modal" class="category-modal-content">
      <!-- カテゴリータイトル -->
      <div class="category-title">- カテゴリー -</div>
      <!-- カテゴリー -->
      <div class="category-list">
        @for(value <- categoryList) {
          @if(value.getIeFlg == "0") {
            <input type="text" class="category-input spend-name" id="@value.getId()" value="@value.getName()" readonly="readonly">
          } else {
            <input type="text" class="category-input income-name" id="@value.getId()" value="@value.getName()" readonly="readonly">
          }
        }
      </div>
      <!-- ボタン -->
      <div class="category-btn">
        <button class="modal-close-btn" id="category-close">閉じる</button>
        <button class="modal-btn" id="category-empty">空にする</button>
      </div>
    </div>
    <!-- カレンダーモーダル -->
    <div id="calendar-modal" class="calendar-modal-content">
      <!-- タイトル -->
      <div class="calendar-title" id="calendar-title"></div>
      <!-- カレンダー -->
      <div id="calendar" class="calendar"></div>
      <!-- ボタン -->
      <div class="calendar-btn">
        <button class="modal-close-btn" id="calendar-close">閉じる</button>
        <button class="modal-btn" id="calendar-empty">空にする</button>
      </div>
    </div>
  </div>
}

@kakeibooPc(title, css, scripts, modal) {
  <!-- カレンダー登録 -->
  <div id="calendarRegist-page">
    <!-- 収支選択 -->
    <div class="top-area">
      <div class="back-btn-block">
        <button id="back" class="header-btn">戻る</button>
      </div>
      <div class="spend-income-btn-block">
        <button id="spend" class="spend-income-btn">支出</button>
        <label class="span">/</label>
        <button id="income" class="spend-income-btn">収入</button>
      </div>
      <div class="sum-up-regist-btn-block">
        <button id="sum-up-regist" class="header-btn">まとめて登録</button>
      </div>
    </div>
    <!-- 入力欄 -->
    <div class="input-area">
      <form id="calendar-data-regist">
        <ul class="input-ul">
          <li class="input-list">
            <p id="mode-title" class="mode-title"></p> 
          </li>
          <li class="input-list">
            <input type="text" name="date" class="input-value-calendar" id="date" value="" readonly="readonly" placeholder="カレンダー" autocomplete="off">
          </li>
          <li class="input-list">
            <input
              type="text"
              name="amount"
              class="input-value"
              id="amount"
              value=""
              placeholder="金額"
              autocomplete="off"
              onfocus="inputAmountFocusOn()"
              onblur="inputAmountFocusOut()"
            >
          </li>
          <li class="input-list">
            <input type="text" class="input-value" id="category" value="" readonly="readonly" placeholder="カテゴリー" autocomplete="off">
            <input type="hidden" name="category" id="category-id" value="">
          </li>
          <li class="input-list">
            <input
              type="text"
              name="memo"
              class="input-value"
              id="memo"
              value=""
              placeholder="メモ"
              autocomplete="off"
              onfocus="inputMemoFocusOn()"
              onblur="inputMemoFocusOut()"
            >
          </li>
          <li class="input-list">
            <p class="message normal" id="message-text"></p>
          </li>
          <li class="input-list">
            <button type="submit" class="regist-btn">保存</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
}
