@(title:String, mufjDepositData:String)

@css={
  <link href="@routes.Assets.versioned("stylesheets/page/kakeibooPc/deposit.css")" rel="stylesheet" media="screen">
}

@scripts={
  <script src="@routes.Assets.versioned("javascripts/page/kakeibooPc/deposit.js")" type="text/javascript"></script>
}

@modal={
}

@kakeibooPc(title, css, scripts, modal) {
  <!-- 貯金額確認 -->
  <div id="deposit-page">
    <!-- トップエリア -->
    <div class="top-area">
      <ul class="top-list">
        <!-- 検索エリア -->
        <li class="search-area">
          <div class="area-title"> - 検索 - </div>
          <div class="search-block">
            <select name="year" id="year" class="year">
              @for(i <- 2015 to 2100){
                <option value="@i">@i</option>
              }
            </select>
            <span>年</span>
            <button id="search-btn" class="search-btn">検索</button>
          </div>
        </li>
        <!-- 現在の貯金額/預金額エリア -->
        <li class="current-deposit-area">
          <div class="current-deposit-block">
            <p class="current-deposit-date"><span id="deposit-year"></span>年<span id="deposit-month"></span>月時点</p>
            <div class="current-deposit-list">
              <div class="current-deposit-title-block">東日本銀行 貯金額 : </div>
              <div class="current-deposit-amount-block">
                <span id="higashi-deposit"></span>円
              </div>
            </div>
            <div class="current-deposit-list">
              <div class="current-deposit-title-block">三菱UFJ銀行 預金額 : </div>
              <div class="current-deposit-amount-block">
                <span>@mufjDepositData</span>円
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- グラフエリア -->
    <div class="deposit-graph-area">
      <div id="date-title" class="date-area"></div>
      <div class="graph-area">
        <canvas id="graph" width="0" height="0"></canvas>
      </div>
    </div>
  </div>  
}
