@(title: String, css: Html = Html(""), scripts: Html = Html(""), modal: Html = Html(""))(content: Html)
@import views.html.main._
@import models.common.kakeibooPc.ConstList

@mainCss={
  <!-- CSS定義 -->
  <!-- common -->
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/common/kakeibooPc/common.css")">
  <!-- kakeibooPc -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/page/kakeibooPc/kakeibooPc.css")">
  @css
}

@mainScripts={
  <!-- javascript定義 -->
  <!-- constList -->
  <script src="@routes.Assets.versioned("javascripts/common/kakeibooPc/constList.js")" type="text/javascript"></script>
  <!-- constMethod -->
  <script src="@routes.Assets.versioned("javascripts/common/kakeibooPc/constMethod.js")" type="text/javascript"></script>
  <!-- kakeibooPc -->
  <script src="@routes.Assets.versioned("javascripts/page/kakeibooPc/kakeibooPc.js")" type="text/javascript"></script>
  @scripts
}

@main(title,mainCss,mainScripts) {
  <!-- PC用表示画面 -->
  <!-- 読み込み中画面 -->
  <div id="loader">
    <div class="sk-block">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>
  </div>
  @if(title != ConstList.LOGIN) {
    <!-- フレーム -->
    <div id="frame" class="frame">
      <!-- サイドバー -->
      <div id="sidebar" class="sidebar">
        <ul class="sidebar-ul">
          <li id="sidebar-menu-page" class="pig-frame">
            <img src="@routes.Assets.versioned("images/kakeibooPc/kakeiboo_menu.png")" id="pig-hover-off" class="pig">
            <img src="@routes.Assets.versioned("images/kakeibooPc/kakeiboo_menu_gray.png")" id="pig-hover-on" class="pig">
          </li>
          <li id="sidebar-calendar-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            カレンダー
          </li>
          <li id="sidebar-kakeibo-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            家計簿
          </li>
          <li id="sidebar-statistics-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            統計データ
          </li>
          <li id="sidebar-deposit-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            貯金額確認
          </li>
          <li id="sidebar-credit-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            クレジット利用履歴
          </li>
          <li id="sidebar-simulation-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            シミュレーション
          </li>
          <li id="sidebar-setting-page" class="sidebar-list">
            <img src="@routes.Assets.versioned("images/kakeibooPc/right.png")">
            各種設定
          </li>
          <li class="sidebar-btn-frame">
            <p id="sidebar-login-page" class="sidebar-logout-btn">
              ログアウト
            </p>
          </li>
        </ul>
      </div>
      <!-- メイン(サイドバーあり) -->
      <div id="main" class="main">
        <!-- モーダル -->
        <div id="modal" class="modal">
          <div class="modal-bg"></div>
          @modal
        </div>
        <!-- 各ページの内容 -->
        @content
      </div>
    </div>
  } else {
    <!-- コンテンツ(サイドバーなし) -->
    <div id="content" class="content">
      <!-- 各ページの内容 -->
      @content
    </div>
  }
}
