@(title:String)

@css={
  <link href="@routes.Assets.versioned("stylesheets/page/kakeibooPc/systemPassword.css")" rel="stylesheet" media="screen">
}

@scripts={
  <script src="@routes.Assets.versioned("javascripts/page/kakeibooPc/systemPassword.js")" type="text/javascript"></script>
}

@modal={
}

@kakeibooPc(title, css, scripts, modal) {
  <div id="eachSettingSystemPW-page">
    <div class="wrapper-area">
      <p class="eachSettingSystemPW-title">家計簿システムパスワード変更</p>
      <div class="main-area">
        <div class="input-block">
          <p>変更前パスワード</p>
          <input type="password" class="eachSettingSystemPW-input" id="before-password" autocomplete="off">
        </div>
        <div class="input-block">
          <p class="">変更後パスワード</p>
          <input type="password" class="eachSettingSystemPW-input" id="after-password" autocomplete="off">
        </div>
        <div class="input-block">
          <p>変更後パスワード(確認)</p>
          <input type="password" class="eachSettingSystemPW-input" id="after-password-check" autocomplete="off">
        </div>
        <div class="message-area">
          <p id="message-text" class="message-text"></p>
        </div>
        <div class="system-password-btn-area">
          <div class="system-password-btn-block">
            <button id="back-btn" class="back-btn">戻る</button>
          </div>
          <div class="system-password-btn-block">
            <button id="change-btn" class="change-btn">変更する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
}
