.menu-area {
  text-align:center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width : 80%;
  height: 70%;
}
.calendar-btn {
  position: absolute;
  top: -300px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width : 100%;
  height: 10%;
}
.deposit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width : 100%;
  height: 10%;
}
.credit-btn {
  position: absolute;
  top: 300px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width : 100%;
  height: 10%;
}
